/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html {
    min-width: 320px;
}

body {
    overflow-x: hidden;
    background: #f2f2f2;
    margin-top: 90px;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.getStarted {
    padding: 15px;
    background: #439a39;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-top: 25px;
    color: #fff !important;
    opacity: 0.9;
}

.getStarted:hover {
    color: #fff;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

h2 {
    color: #439a39;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    position: relative;
    background: #000;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

header .container {
    position: absolute;
    top: 0%;
    width: 100%;
    padding-top: 10%;
}

header img {
    display: block;
    width: 100%;
    opacity: 0.7;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 94px;
    font-weight: 700;
    letter-spacing: 5px;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.spacer {
    padding: 5px;
    pointer-events: none;
}

.mediaLinks a {
    float: left;
    padding-right: 8px !important;
    padding-left: 8px !important;
    opacity: 0.9;
}

.mediaLinks a:hover {
    opacity: 1 !important;
}

.nav>li>a>img {
    height: 35px;
    float: left;
    position: relative;
    top: -13px;
}

.mediaLinks a.loginButton {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: #439a39 !important;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: #fff !important;
    opacity: 0.9;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 16px !important;
}

@media(min-width:768px) {
    header .container {
        padding-top: 10%;
    }

    header .intro-text .skills {
        font-size: 28px;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        position: relative;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-brand img {
        height: 60px;
        position: absolute;
        top: 0px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>li>a {
        padding-top: 36.5px;
        padding-bottom: 2.5px;
        color: #535353;
        font-size: 18px;
    }

    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: #439a39;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        color: #439a39;
        background: none;
    }

    .navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
        padding-top: 32.5px;
        padding-bottom: 6.5px;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 5px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand img {
        height: 50px;
        top: 5px;
    }

    .mediaLinks {
        display: none;
    }

}

.navbar {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background: #f2f2f2;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

section > .container {
    background: #fff;
    padding: 25px;
    padding-bottom: 50px;
}

#portfolio img {
    width: 100%;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.col-lg-6 {
    padding: 25px;
}

.footerLogo {
    float: left;
    height: 40px;
}

.footerLinks {
    float: right;
}

.footerLinks img {
    height: 30px;
    margin-top: 7px;
    margin-left: 12px;
    opacity: 0.85;
}

.footerLinks img:hover {
    opacity: 1;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 0;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #222;
    border-top: 1px solid #fff;
}

#contact h2 {
    margin-bottom: 25px;
}

#demo {
    padding-bottom: 0px;
}

.demoVideo {
    height: 600px;
}

.demoVideo iframe {
    border: 0px;
}

.btn-success {
    background: #439a39;
    border-color: #439a39;
    border-radius: 0px;
    opacity: 0.9;
    width: 300px;
    font-size: 24px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.alert-success {
    background: #439a39;
    border-color: #439a39;   
}

.btn-success:hover {
    background: #439a39;
    border-color: #439a39;
    opacity: 1;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 1350px) {
    header .intro-text .name {
        font-size: 72px;
    }
    header .intro-text .skills {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    header .intro-text .name {
        font-size: 60px;
    }
    header .intro-text .skills {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    header .intro-text .name {
        font-size: 48px;
    }
    header .intro-text .skills {
        font-size: 18px;
    }
    header .intro-text .getStarted {
        font-size: 18px;
        padding: 12px;
    }
}

@media (max-width: 991px) {
    .navbar-brand > img {
        height: 30px;
        position: absolute;
        top: 28px;
    }
    nav > .container {
        padding: 0px;
    }
}

@media (max-width: 900px) {
    header .container {
        padding-top: 8%;
    }
}

@media (max-width: 800px) {
    header .container {
        padding-top: 5%;
    }
}

@media (max-width: 767px) {
    body {
        margin-top: 60px;
    }

    .navbar-brand > img {
        top: 20px;
        left: 10px;
    }

    .mediaLinks {
        padding-left: 5px;
        width: 100%;
    }

    .mediaLinks a.loginButton {
        margin-top: 0px;
        float: right;
    }

}

@media (max-width: 700px) {
    header .intro-text .name {
        font-size: 36px;
    }
    header .intro-text .skills {
        font-size: 16px;
    }
    header .intro-text .getStarted {
        font-size: 18px;
        padding: 12px;
    }
}